body {
  color: black;
}

.nav {
  background-color: #bf5700;
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.routerElements {
  padding: auto;
  padding-top: 50px;
}

.routerButton {
  padding: 20px;
  background-color: #bf5700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.homeParagraph {
  padding-top: 190px;
}

.otherParagraph {
  padding-top: 30px;
}

.linkSpace {
  padding-left: 0px;
  padding-left: 25px;
}

.homeButton {
  padding: 20px;
  background-color: #bf5700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.homeTop {
  padding-top: 40px;
  padding-left: 1250px;
}

.textBox {
  padding: 10px;
  background-color: #ffffff;
  border-color: #bf5700;
  border-width: 2px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.alignText {
  padding-left: 600px;
}

.alignIcon {
  padding-left: 250px;
}

.labelSignUp {
  padding: auto;
}

.labelPass {
  padding-right: 13px;
}

.ButtonSign {
  padding: 10px 20px;
  background-color: #bf5700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-left: 30px;
}

.pageText {
  padding-top: 70px;
  text-align: center;
}

.i-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.i-tooltip .i-tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #bf5700;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -110px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.i-tooltip:hover .i-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 600px;
}

.textBox {
  width: 100%;
  max-width: 300px;
}

.ButtonSign {
  padding: 10px 20px;
  background-color: #bf5700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-left: 600px;
}

.buttonPlace{
  margin-left: 270px;
  padding:15px;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  color: #333;
}

.hw-usage p {
  margin: 5px 0;
}

.ProjectButton{
  width: 170px;
  padding: 10px 20px;
  background-color: #bf5700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}